@using FlyCalculator.Web.Components
@namespace FlyCalculator.Web.Pages
@page "/manifesto"

<h3>@Title</h3>
<CalculoAutonomia @bind-Total="Total" @bind-Etapa="Etapa"></CalculoAutonomia>
<CalculoPesoDecolagem @bind-Pesos="Pesos" TotalAutonomia="Total"></CalculoPesoDecolagem>
<CalculoPesoBalanceamento Etapa="Etapa" Total="Total" Pesos="Pesos"></CalculoPesoBalanceamento>