@using FlyCalculator.Web.Models

<div class="form-group container">
    <h5>@title</h5>
    <div class="row">
        <div class="col-md-2">
            <label>Peso Máx. Decolagem</label>
        </div>
        <div class="col-md-5">
            <input type="number" @bind-value="model.MaximoDecolagem" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Peso Básico Vazio(PBV)</label>
        </div>
        <div class="col-md-5">
            <input type="number" @bind-value="model.BasicoVazio" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label><b>Peso disponível total: </b></label>
        </div>
        <div class="col-md-5">
            <input type="number" @bind-value="model.DisponivelTotal" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Mínimo Comb. Requirido</label>
        </div>
        <div class="col-md-5">
            <input type="number" @bind-value="model.MinimoCombustivel" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Peso dos tripulantes</label>
        </div>
        <div class="col-md-5">
            <input type="number" @bind-value="model.Tripulantes" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label><b>Carga Paga Máxima: </b></label>
        </div>
        <div class="col-md-5">
            <input type="number" @bind-value="model.CargaMaxima" />
        </div>
    </div>
</div>

@code {
    private string title = "Cálculo de Peso de Decolagem";
    private CalculoPesoDecolagem model = new CalculoPesoDecolagem();
}
