@using FlyCalculator.Web.Models

<div class="form-group container">
    <h5>@title</h5>
    <div class="row">
        <div class="col-md-3">
            <label>Peso Básico Vazio</label>
        </div>
        <div class="col-md-3">
            <input type="number" @bind-value="model.PesoBasicoVazio.Peso" />
        </div>
        <div class="col-md-3">
            <input type="number" @bind-value="model.PesoBasicoVazio.Braco" />
        </div>
        <div class="col-md-3">
            <input type="number" readonly @bind-value="model.PesoBasicoVazio.Momento" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Ocupantes assentos dianteiros</label>
        </div>
        <div class="col-md-3">
            <input type="number" @bind-value="model.Ocupantes.Peso" />
        </div>
        <div class="col-md-3">
            <input type="number" @bind-value="model.Ocupantes.Braco" />
        </div>
        <div class="col-md-3">
            <input type="number" readonly @bind-value="model.Ocupantes.Momento" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Bagageiro (Max. 54 Kg)</label>
        </div>
        <div class="col-md-3">
            <input type="number" @bind-value="model.Bagageiro.Peso" />
        </div>
        <div class="col-md-3">
            <input type="number" @bind-value="model.Bagageiro.Braco" />
        </div>
        <div class="col-md-3">
            <input type="number" readonly @bind-value="model.Bagageiro.Momento" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Peso Zero Combustível</label>
        </div>
        <div class="col-md-3">
            <input type="number" @bind-value="model.PesoZeroCombustivel.Peso" />
        </div>
        <div class="col-md-3">
            <input type="number" @bind-value="model.PesoZeroCombustivel.Braco" />
        </div>
        <div class="col-md-3">
            <input type="number" readonly @bind-value="model.PesoZeroCombustivel.Momento" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Combustível (___ Lts x 0.72 kg/l)</label>
        </div>
        <div class="col-md-3">
            <input type="number" @bind-value="model.Combustivel.Peso" />
        </div>
        <div class="col-md-3">
            <input type="number" @bind-value="model.Combustivel.Braco" />
        </div>
        <div class="col-md-3">
            <input type="number" readonly @bind-value="model.Combustivel.Momento" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Peso de Decolagem (Max. 757 Kg)</label>
        </div>
        <div class="col-md-3">
            <input type="number" @bind-value="model.PesoDecolagem.Peso" />
        </div>
        <div class="col-md-3">
            <input type="number" @bind-value="model.PesoDecolagem.Braco" />
        </div>
        <div class="col-md-3">
            <input type="number" readonly @bind-value="model.PesoDecolagem.Momento" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Comb. da Etapa (___ Lts x 0.72 kg/l)</label>
        </div>
        <div class="col-md-3">
            <input type="number" @bind-value="model.CombustivelEtapa.Peso" />
        </div>
        <div class="col-md-3">
            <input type="number" @bind-value="model.CombustivelEtapa.Braco" />
        </div>
        <div class="col-md-3">
            <input type="number" readonly @bind-value="model.CombustivelEtapa.Momento" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Peso de Pouso (Max. 757 Kg)</label>
        </div>
        <div class="col-md-3">
            <input type="number" @bind-value="model.PesoPouso.Peso" />
        </div>
        <div class="col-md-3">
            <input type="number" @bind-value="model.PesoPouso.Braco" />
        </div>
        <div class="col-md-3">
            <input type="number" readonly @bind-value="model.PesoPouso.Momento" />
        </div>
    </div>
</div>

@code {
    private string title = "Cálculos de Peso e Balanceamento";

    private CalculoPesoBalanceamento model = new CalculoPesoBalanceamento();
}
