@using FlyCalculator.Web.Components
@page "/manifesto"

<h3>@title</h3>
<CalculoAutonomiaComponent></CalculoAutonomiaComponent>
<CalculoPesoDecolagemComponent></CalculoPesoDecolagemComponent>
<CalculoPesoBalanceamentoComponent></CalculoPesoBalanceamentoComponent>

@code {
    string title = "Manifesto de Peso e Balanceamento";
}
